body{
    font-family: "Bebas Nuen";
}

.nav{
    background-color: #192b5e;
    height: 7%;
}

ul{
    margin: auto;
    color: white;
}

.table-striped{
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
}
